<head>
	<title>FlowTalk - Admin</title>
</head>


<div class="row">
    <div class="col s12">
		<h1>Admin Panel</h1>
		<div class="divider"></div>
		<p>
			Welcome <b><%= user.name %></b>, to the Admin Panel. <br>
			Last login: <b><%= utility.timeSince(req.session.lastLogin) %> ago</b>
		</p>
	</div>
</div>

<div class="row z-depth-2 grey lighten-3">
    <div id="userList" class="col s12 m4 l12">
        <div class="input-field col s12">
			<i class="material-icons prefix">search</i>
            <input name="search" id="search" type="search" value=<%= searchWord %>></input> <label for="search">Search</label>
        </div>
        <div class="col s3">
			<a onclick="searchButton()" class="waves-effect waves-light btn"><b>Search</b></a>
        </div>
        <div class="col s3">
			<% if (adminFilter == true) { %>
				<input type="checkbox" class="filled-in" id="adminFilter" checked="checked"/>
			<% }else { %>
				<input type="checkbox" class="filled-in" id="adminFilter"/>
			<% } %>
			<label for="adminFilter">Only Admins</label>
        </div>
        <div class="col s12">
			<ul id="pagination" class="pagination center-align"></ul>
			<div id="progress" class="progress"></div>
        </div>

		<table class="striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Total Messages</th>
					<th>Admin</th>
				</tr>
			</thead>

			<tbody id="tableBody">
			</tbody>
		</table>
	</div>
</div>

<!-- Pass local variables on to client-side variables -->
<script>
	var pagination = {
		pageCount: <%= pagination.pageCount %>,
		userCount: <%= pagination.userCount %>
	};
	var searchWord = "<%= searchWord %>";
	var adminFilter = "<%= adminFilter %>";
	console.log("adminFilter = ",adminFilter);
</script>

<!-- Inject view specific files for client -->
<% block('localScripts', '<script src="js/materialize-pagination.js"></script>') %>
<% block('localScripts', '<script src="js/adminPanel.js"></script>') %>
